/*****************  COLORES  ***********************/
/*****************  FUENTES  ***********************/
/*****************  BREAKPOINTS  ***********************/
/*****************  COLORES  ***********************/
/*****************  COLORES  ***********************/
/*****************  COLORES  ***********************/
html {
  font-size: 62.5%; }

body {
  height: 100vh;
  background-color: #1a1b29; }
  body .bodyContent {
    display: flex;
    background-color: #1a1b29;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    flex-direction: column; }

nav {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  flex-shrink: 0; }

.navLinks {
  display: none;
  flex-direction: column;
  align-items: center; }

.indexImg {
  background-color: white;
  overflow: hidden; }
  .indexImg img {
    width: 100%;
    height: 100%;
    object-fit: fill; }

.indexText {
  padding: 10px;
  max-width: 40%;
  margin-top: 100px;
  margin-left: 10px;
  color: white;
  text-shadow: #9e0059 1px 2px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 4em; }

nav {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.navPrincipal {
  background-image: url(".././img/bannerbw.jpg"); }

.navServicios {
  background-image: url(".././img/services/bgprincipal.jpg"); }

.navLinks {
  padding: 20px;
  font-size: 0px;
  background-color: #1a1b29;
  font-weight: 300;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 600px) {
    .navLinks {
      display: flex; } }
  .navLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    margin: 0; }
  .navLinks li {
    display: flex;
    letter-spacing: 3px;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    position: relative; }

ul li a {
  color: #FFFFFF; }

a {
  display: inline; }
  a:link {
    color: #FFFFFF;
    text-decoration: none; }
  a:visited {
    color: #FFFFFF;
    text-decoration: none; }
  a:hover {
    color: #000000; }

ul li:hover {
  color: #000000; }

ul li:hover > ul {
  display: block; }

.navBrand {
  width: 100%;
  background-color: #9e0059cc;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 3em;
  color: white;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: white; }

.indexBtn {
  color: white;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 3em; }
  .indexBtn div {
    justify-content: center;
    height: 100px;
    width: 100%;
    background: #9e0059cc;
    opacity: 80%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; }

.servicesContent {
  display: flex;
  flex-direction: column;
  background-color: #9e0059cc; }

.serviceItem {
  height: 600px;
  padding-bottom: 30px; }
  .serviceItem h2 {
    text-align: center;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 4em;
    padding: 100px 0px 10px 0px; }
  .serviceItem p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 2em;
    padding: 0px 70px 0px 70px;
    line-height: 2;
    letter-spacing: 2px; }

.scrollEfect {
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.scrollEfectBranding {
  background-image: url(".././img/services/branding.jpg"); }

.scrollEfectUXUI {
  background-image: url(".././img/services/uxui.jpg"); }

.scrollEfectWebDesign {
  background-image: url(".././img/services/webdesign.jpg"); }

.scrollEfectOthers {
  background-image: url(".././img/services/otros.jpg"); }

.portfolioContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .portfolioContent .portfolioItem {
    position: relative;
    margin: -1px;
    width: 100%;
    object-fit: cover; }
    .portfolioContent .portfolioItem .portfolioItemText {
      opacity: 0%;
      position: absolute;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      font-size: 2em;
      color: #ffffff;
      position: absolute;
      top: 15px;
      left: 15px; }
    .portfolioContent .portfolioItem img {
      width: 100%; }
      .portfolioContent .portfolioItem img:hover {
        filter: grayscale(100%);
        opacity: 50%; }
      .portfolioContent .portfolioItem img:hover ~ .portfolioItemText {
        opacity: 100%; }
    @media (min-width: 360px) and (max-width: 600px) {
      .portfolioContent .portfolioItem {
        width: 50%; } }
    @media (min-width: 600px) {
      .portfolioContent .portfolioItem {
        width: 33.33%; } }

.nosotrosContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .nosotrosContent .nosotrosItem {
    flex-direction: column;
    width: 300px;
    margin: 50px 20px 50px 20px;
    background-color: #ffffff; }
    .nosotrosContent .nosotrosItem img {
      padding-top: 30px;
      display: block;
      margin: 0 auto; }
    .nosotrosContent .nosotrosItem div {
      color: #9e0059cc;
      font-size: 2em;
      margin: 50px 20px 20px 20px; }
