/*****************  COLORES  ***********************/
/*****************  FUENTES  ***********************/
/*****************  BREAKPOINTS  ***********************/
/*****************  Fonts  ***********************/
@font-face {
  font-family: 'chamberi_displayextrabold';
  src: url("./fonts/chamberidisplay-extrabold-webfont.woff2") format("woff2"), url("./fonts/chamberidisplay-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futurabook';
  src: url("./fonts/futuran-webfont.woff2") format("woff2"), url("./fonts/futuran-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avantgarde';
  src: url("./fonts/ITCAvantGardeStd-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/*****************  COLORES  ***********************/
/*****************  COLORES  ***********************/
html {
  font-size: 62.5%; }

body {
  min-height: 100vh;
  background-color: #272622; }
  body .bodyContent {
    display: flex;
    background-color: #272622;
    max-width: 1140px;
    margin: 0 auto;
    height: 100%;
    flex-direction: column; }

nav {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  flex-shrink: 0; }

.navLinks {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.indexImg {
  background-color: white;
  overflow: hidden; }
  .indexImg img {
    width: 100%;
    height: 100%;
    object-fit: fill; }

.indexText {
  padding: 10px;
  max-width: 40%;
  margin-top: 100px;
  margin-left: 10px;
  color: white;
  text-shadow: 3px 1px 2px black;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  letter-spacing: 3px; }

.indexDesc {
  background-color: #9C1831cc;
  font-family: 'futurabook', 'Arial', sans-serif;
  font-size: 1.5em;
  color: white;
  padding: 20px 50px 20px 20px;
  width: 60%; }

nav {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.noBackground {
  height: 115px; }

.navPrincipal {
  background-image: url(".././img/kand_principal.jpg"); }

.navServicios {
  background-image: url(".././img/services/bgprincipal.jpg"); }

.navPortfolio {
  background-image: url(".././img/portfolio/bgprincipal.jpg"); }

.navContacto {
  background-image: url(".././img/services/bgprincipal.jpg"); }

.navLinks {
  padding: 20px;
  font-size: 0px;
  background-color: #56534F;
  font-weight: 300;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 600px) {
    .navLinks {
      display: flex; } }
  .navLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: #ffffff;
    font-size: 2rem;
    padding: 0;
    margin: 0; }
    @media (min-width: 360px) and (max-width: 600px) {
      .navLinks ul {
        flex-direction: column; } }
    @media (max-width: 360px) {
      .navLinks ul {
        flex-direction: column; } }
  .navLinks li {
    display: flex;
    letter-spacing: 3px;
    padding: 10px 10px 10px 20px;
    margin: 0px;
    position: relative; }
    @media (min-width: 600px) {
      .navLinks li {
        padding: 0px 10px 0px 20px; } }

ul li a {
  color: #FFFFFF; }

a {
  display: inline; }
  a:link {
    color: #FFFFFF;
    text-decoration: none; }
  a:visited {
    color: #FFFFFF;
    text-decoration: none; }
  a:hover {
    color: #000000; }

ul li:hover {
  color: #000000; }

ul li:hover > ul {
  display: block; }

.navBrand {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #9C1831;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 4em;
  color: white;
  font-family: 'chamberi_displayextrabold', 'Times New Roman', serif;
  font-weight: normal;
  font-style: normal;
  color: white; }
  .navBrand div {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 600px) {
      .navBrand div {
        justify-content: center; } }
    .navBrand div .icon {
      padding-right: 20px; }
      @media (min-width: 600px) {
        .navBrand div .icon {
          display: none; } }

.indexBtn {
  color: white;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 3em; }
  .indexBtn div {
    justify-content: center;
    height: 100px;
    width: 100%;
    background: #9C1831;
    opacity: 80%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; }

.servicesContent {
  display: flex;
  flex-direction: column;
  background-color: #9C1831; }

.serviceItem {
  height: 600px;
  padding-bottom: 30px; }
  .serviceItem h2 {
    font-family: 'avantgarde', 'Arial', sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 4em;
    padding: 100px 0px 10px 0px; }
  .serviceItem p {
    font-family: 'futurabook', 'Arial', sans-serif;
    color: #ffffff;
    font-size: 2em;
    padding: 0px 70px 0px 70px;
    line-height: 2;
    letter-spacing: 2px; }

.scrollEfect {
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.scrollEfectBranding {
  background-image: url(".././img/services/branding.jpg"); }

.scrollEfectUXUI {
  background-image: url(".././img/services/uxui.jpg"); }

.scrollEfectWebDesign {
  background-image: url(".././img/services/webdesign.jpg"); }

.scrollEfectOthers {
  background-image: url(".././img/services/otros.jpg"); }

.portfolioContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .portfolioContent .portfolioItem {
    position: relative;
    margin: -1px;
    width: 100%;
    object-fit: cover; }
    .portfolioContent .portfolioItem .portfolioItemText {
      opacity: 0%;
      position: absolute;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      font-size: 2em;
      color: #ffffff;
      position: absolute;
      top: 15px;
      left: 15px; }
    .portfolioContent .portfolioItem img {
      width: 100%; }
      .portfolioContent .portfolioItem img:hover {
        filter: grayscale(100%);
        opacity: 50%; }
      .portfolioContent .portfolioItem img:hover ~ .portfolioItemText {
        opacity: 100%; }
    @media (min-width: 360px) and (max-width: 600px) {
      .portfolioContent .portfolioItem {
        width: 50%; } }
    @media (min-width: 600px) {
      .portfolioContent .portfolioItem {
        width: 33.33%; } }

.nosotrosContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .nosotrosContent .nosotrosItem {
    flex-direction: column;
    width: 300px;
    margin: 50px 20px 50px 20px;
    background-color: #ffffff; }
    .nosotrosContent .nosotrosItem img {
      padding-top: 30px;
      display: block;
      margin: 0 auto; }
    .nosotrosContent .nosotrosItem div {
      color: #9C1831;
      font-family: 'futurabook', 'Arial', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 2em;
      margin: 50px 20px 20px 20px; }

.form-consulta {
  max-width: 500px;
  background: #eee;
  padding: 25px;
  font-family: 'Source Sans Pro', sans-serif; }
  .form-consulta div {
    text-align: center;
    padding-bottom: 20px; }
    .form-consulta div a {
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      color: black; }
    .form-consulta div a:link {
      color: #000000; }

.campo-form {
  width: 100%;
  height: 36px;
  margin: 2px 0 6px;
  padding-left: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em; }

label span {
  color: #f00; }

textarea {
  min-height: 150px !important; }

.btn-form {
  display: inline-block;
  border: 0;
  background: #9C1831;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px; }

.btn-form:hover {
  background: #444; }

.confirmaText {
  background: #eee;
  padding: 50px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2em; }

.contactContent {
  display: flex;
  justify-content: center;
  margin: 50px; }

.topnav {
  overflow: hidden;
  position: relative; }

.topnav #myLinks {
  display: none; }

.icon {
  display: block; }

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; }

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.active {
  background-color: #4CAF50;
  color: white; }
