@import 'utilities/variables';
@import 'utilities/mixins';
@import 'layout/grid';
@import 'layout/body';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/footer';
@import 'components/indexImg';
@import 'components/indexText';
@import 'components/nav';
@import 'components/navLinks';
@import 'components/navBrand';
@import 'components/indexBtn';
@import 'components/serviceContent';
@import 'components/serviceItem';
@import 'components/serviceButton';
@import 'components/scrollEfect';
@import 'components/portfolioContent';
@import 'components/nosotrosContent';