/*****************  COLORES  ***********************/

$colorPrincipal: #9e0059cc;
$colorSecundario: #685abf;
$colorBackground: #1a1b29;
$colorFuentePrincipal: #ffffff;
$colorFuenteSecundaria: #ffffff;
$colorLink: #FFFFFF;
$colorLinkVisited: #FFFFFF;
$colorHover: #000000;
$colorFondo: #000000;

/*****************  FUENTES  ***********************/

$fontPrincipal: 'Roboto';
$fontSecundaria: 'Roboto';
$fontFooter: 'Roboto';

/*****************  BREAKPOINTS  ***********************/

$breakpoint-sm: 360px;
$breakpoint-md: 600px;
$breakpoint-lg: 1000px;

/*****************  COLORES  ***********************/


/*****************  COLORES  ***********************/


/*****************  COLORES  ***********************/