body {
    min-height: 100vh;
    background-color: #1a1b29;
    .bodyContent {
        display: flex;
        background-color: $colorBackground;
        max-width: 1140px;
        margin: 0 auto;
        height: 100%;
        flex-direction: column;
    }
}