    html {
        font-size: 62.5%;
    }
    
    body {
        .bodyContent {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px auto 400px;
            flex-basis: 0;
            object-fit: contain;
            @include media(lg) {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: 60px auto repeat(4 100px);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
            }
            nav {
                grid-area: 1 / 1 / 2 / 13;
                width: 100%;
                z-index: 100;
            }
            .indexImg {
                grid-area: 1 / 1 / 4 / 13;
            }
            .indexText {
                position: absolute;
                grid-area: 2 / 1 / 3 / 13;
                z-index: 100;
            }
            .indexBtn {
                display: flex;
                flex-direction: column;
                @include media(lg) {
                    grid-area: 3 / 1 / 4 / 13;
                    flex-direction: row;
                    div {
                        width: 33.33%;
                    }
                }
            }
        }
    }