.indexDesc {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    font-family: 'futurabook', 'Arial', sans-serif;
    font-size: 1.5em;
    color: $colorPrincipal;
    padding: 20px 50px 20px 20px;
    width: 60%;
}