.navLinks {
    padding: 20px;
    font-size: 0px;
    background-color: $colorSecundario;
    @include font($fontSecundaria, 'sans-serif', 300);
    @include media(lg) {
        display: flex;
    }
    position: relative;
    ul {
        z-index: 99999;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        color: #ffffff;
        font-size: 2rem;
        padding: 0;
        margin: 0;
        @include media(md) {
            flex-direction: column;
        }
        @include media(sm) {
            flex-direction: column;
        }
    }
    li {
        display: flex;
        letter-spacing: 3px;
        padding: 10px 10px 10px 20px;
        margin: 0px;
        position: relative;
        @include media(lg) {
            padding: 0px 10px 0px 20px;
        }
    }
}

ul li a {
    color: $colorLink;
}

a {
    display: inline;
    &:link {
        color: $colorLink;
        text-decoration: none;
    }
    &:visited {
        color: $colorLinkVisited;
        text-decoration: none;
    }
    &:hover {
        color: $colorHover;
    }
}

ul {
    li:hover {
        color: $colorHover;
    }
    li:hover>ul {
        display: block;
    }
}