nav {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.noBackground {
    height: 115px;
}

.navPrincipal {
    background-image: url(".././img/kand_principal.jpg");
    // background-image: url(".././img/1200x800_principal.jpg");
}

.navServicios {
    background-image: url(".././img/services/bgprincipal.jpg");
}

.navPortfolio {
    background-image: url(".././img/portfolio/bgprincipal.jpg");
}

.navContacto {
    background-image: url(".././img/services/bgprincipal.jpg");
}