.navBrand {
    width: 100%;
    background-color: $colorPrincipal;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 3em;
    color: white;
    @include font($fontPrincipal, 'sans-serif', 500);
    color: white;
}