.portfolioContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .portfolioItem {
        position: relative;
        margin: -1px;
        width: 100%;
        object-fit: cover;
        .portfolioItemText {
            opacity: 0%;
            position: absolute;
            @include font($fontSecundaria, 'sans-serif', 500);
            font-size: 2em;
            color: $colorFuenteSecundaria;
            position: absolute;
            top: 15px;
            left: 15px;
        }
        img {
            width: 100%;
            &:hover {
                filter: grayscale(100%);
                opacity: 50%;
            }
            &:hover~.portfolioItemText {
                opacity: 100%;
            }
        }
        @include media(md) {
            width: 50%;
        }
        @include media(lg) {
            width: 33.33%;
        }
    }
}