.scrollEfect {
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrollEfectBranding {
    background-image: url(".././img/services/branding.jpg");
}

.scrollEfectUXUI {
    background-image: url(".././img/services/uxui.jpg");
}

.scrollEfectWebDesign {
    background-image: url(".././img/services/webdesign.jpg");
}

.scrollEfectOthers {
    background-image: url(".././img/services/otros.jpg");
}