.servicesContent {
    display: flex;
    flex-direction: column;
    .scrollEfect {
        /* The image used */
        background-image: url(".././img/services/back01.png");
        /* Set a specific height */
        height: 500px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.scrollEfect {
    /* The image used */
    background-image: url("img/services/back01.png");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}