.serviceItem {
    height: 600px;
    padding-bottom: 30px;
    h2 {
        font-family: 'avantgarde', 'Arial', sans-serif;
        text-align: center;
        color: $colorFuenteSecundaria;
        font-size: 4em;
        padding: 100px 0px 10px 0px;
    }
    p {
        font-family: 'futurabook', 'Arial', sans-serif;
        color: $colorFuenteSecundaria;
        font-size: 2em;
        padding: 0px 70px 0px 70px;
        line-height: 2;
        letter-spacing: 2px;
    }
}